@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
body{
    background: url("Untitled-3.png") no-repeat;
    font-family: 'Roboto', sans-serif;
}
.header__logo{
    position: absolute;
    margin-top: 24px;
    margin-left: 63px;
}
.header__menu{
    list-style-type: none;
    display: inline-block;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;


}
.header__menu1{
    position: absolute;
    display: inline-block;
    float: right;
    margin-top: 10px;
    margin-left: 533px;
}
.header__menu2{
    position: absolute;
    display: inline-block;
    float: right;
    margin-top: 10px;
    margin-left: 400px;
}
.header__menu3{
    position: absolute;
    display: inline-block;
    float: right;
    margin-top: 10px;
    margin-left: 280px;
}
.header__menu4{
    position: absolute;
    display: inline-block;
    float: right;
    margin-top: 10px;
    margin-left: 152px;
}
.header__button:hover{
    text-decoration: underline;
}
.header__logo2{
    float: right;

    margin-right: 1246px;
    margin-top: 25px;

}
.header__menu a{
    color: white;
    text-decoration: none;
}

.main__block{
    width: 501px;
    height: 431px;
    background: #f5f5f5;
    position: absolute;
    margin-top: 66px;
    margin-left: 54px;

}
.block__element1{
    position: absolute;
    margin-left: 43px;
    margin-top: 85px;
    font-size: 81px;

    color:#ffffff ;
    font-family: Tahoma, sans-serif;
    font-weight: 400;

}
.block__element2{
    position: absolute;

    margin-top: 120px;
}
.block__element3{
    position: relative;
    margin-left: 170px;
    margin-top: 363px;


}
.block__element3-img1{position: absolute;
    margin-left: -23px;

}
.block__element3-img2{
    position: absolute;
    margin-left: 40px;
}
.block__element3-img3{
    position: absolute;
    margin-left: 100px;
}
.main__class{
    position: absolute;
    background: #ffffff;
    width: 250px;
    height: 431px;
    margin-left: 501px;
    margin-top: -363px;
}
.main__class-block{position: absolute;
    width: 43px;
    height: 26px;
    background:#ffa60d;
    color: white;
    text-align: center;
    margin-top: 45px;
    margin-left: 34px;
    font-family: 'Roboto', sans-serif;
}
.main__class-element2{
    position: absolute;
    margin-top: 81px;
    margin-left: 34px;
    font-size: 24px;

}
.main__class-element3{
    position: absolute;
    color: #5e4fff;
    margin-top: 81px;
    margin-left: 88px;
    font-size:24px ;

}
.main__class-element4{
    position: absolute;
    margin-top: 108px;
    margin-left: 34px;
    font-size: 24px;

}
.main__class-element5{
    position: absolute;
    margin-top: 146px;
    margin-left: 34px;
    font-size: 12px;
}
.main__class-img{
    position: absolute;
    margin-top: 144px;
    margin-left: 106px;
}
.main__class-element6{
    position: absolute;
    margin-top: 177px;
    margin-left: 34px;
    font-size: 22px;
    font-weight: 300;
}
.main__class-element7{
    position: absolute;
    margin-top: 223px;
    margin-left: 34px;
    font-size: 12px;

}
.main__class-element8{
    position: absolute;
    margin-top: 229px;
    margin-left: 21px;
    font-size: 14.57px;

}
.main__class-element8 input{
    background: transparent;
    border-color: transparent;
    padding: 13px;

}
.main__button1:hover{
    border: 1px solid transparent;
    border-color: black;
    width:26px;
    height:23px;

}
.main__button2:hover{
    border: 1px solid transparent;
    border-color: black;
    width:26px;
    height:23px;

}
.main__button3:hover{
    border: 1px solid transparent;
    border-color: black;
    width:26px;
    height:23px;

}
.main__button4:hover{
    border: 1px solid transparent;
    border-color: black;
    width:26px;
    height:23px;

}
.main__button5:hover{
    border: 1px solid transparent;
    border-color: black;
    width:26px;
    height:23px;

}
.main__class-element9{
    position: absolute;
    margin-top: 260px;
    margin-left: 21px;
    font-size: 14.57px;

}
.main__class-element9 input{
    background: transparent;
    border-color: black;
    }
.main__button6{
    position: absolute;
    height: 25px;
    margin-top: 24px;
    margin-left: 15px;

}
.main__button7{
    position: absolute;
    height: 25px;
    width: 100px;
    margin-top: 52px;
    margin-left: 15px;
}
.main__button6:hover{
    border: 1px solid #a200b8;
    background:#a200b8 ;
color: white;
}
.main__button7:hover{
    border: 1px solid #a200b8;
    background:#a200b8 ;
    color: white;
}