body{
    background: url("img-1.png") no-repeat  ;

}
.block{
    background:#111a28 ;
    border-radius: 10px 10px;
    height: 392px;
    width: 689px;
    position: absolute;
    margin-left: 52px;
    margin-top: 111px;

}
.block__element1{
    float: left;
    margin-left: 35px;
margin-top: 126px;
}
.block__element2{
    float: left;
    margin-left:-350px ;
    margin-top: 22px;
}

.class h1{
    font-size: 24px;
    color: white;
}
.class__element1{
    margin-left: 467px;
    margin-top: 170px;
    position: absolute;
}
.class__element2{
    position: absolute;
    margin-top: 199px;
    margin-left: 467px;
}
.class__element3{
    position: absolute;
    color: #86898e;
    margin-left: 467px;
    margin-top: 240px;

}
.class__element4{
    position: absolute;
    margin-left: 467px;
    margin-top: 290px;

}
.class__element5 input{
    position: absolute;
    margin-left: 467px;
    margin-top: 334px;
    width: 57px;
    height: 27px;
    border-color: #86898e;
    background-color: #111a28;
    color: #86898e;
}
.class__element6 input{
    position: absolute;
    margin-left: 529px;
    margin-top: 334px;
    width: 57px;
    height: 27px;
    border-color: #86898e;
    background-color: #111a28;
    color: #86898e;
    background: none;

}
.class__element7 input{
    position: absolute;
    margin-left: 467px;
    margin-top: 396px;
    width: 183px;
    height: 38px;
    border-color: #86898e;
    background-color: #202835;
    color: white;
    text-align: center;

}