@font-face {
  font-family: 'BEYNO';
  src: url('Untitled.woff2') format('woff2'),
  url('Untitled.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
$family: 'Lato', sans-serif;
$slick-font-family: FontAwesome;
$slick-prev-character: "\f053";
$slick-next-character: "\f054";
$small: 320px;
$large: 1278px;
$large2: 1064px;
$large3: 1600px;
@mixin fluency {
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
}

@mixin fluency2 {
  ::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.5s ease;
  }
  ::-moz-placeholder {
    opacity: 1;
    transition: opacity 0.5s ease;
  }
  :-moz-placeholder {
    opacity: 1;
    transition: opacity 0.5s ease;
  }
  :-ms-input-placeholder {
    opacity: 1;
    transition: opacity 0.5s ease;
  }
  &:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  &:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  &:focus:-moz-placeholder {
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  &:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.5s ease;
  }
}

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $large) {
      @content;
    }
  } @else if $media == medium-screens {
    @media only screen and (min-width: $small) and (max-width: $large) {
      @content;
    }
  } @else if $media == wide-screens {
    @media only screen and (min-width: $large2 + 1) and (max-width: $large3 - 1) {
      @content;
    }
  }

}

body {
  margin: 0;
  min-width: 320px;
  font-family: $family;
}

header {
  width: 100%;
  height: 86px;
  position: fixed;
  background: white;
  z-index: 7;
}

.head__block {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  .head__menu {
    margin-top: 29px;
    margin-left: 336px;
    display: block;
    @include respond-to(medium-screens) {
      flex-direction: column;
      display: none;
      margin-left: 400px;
      left: -563px;
      top: 61px;
      position: relative;
    }
  }
  .head__logo1 {
    font-family: "BEYNO", sans-serif;
    font-size: 30px;
    color: #503392;
    margin-top: 21px;
    @include respond-to(medium-screens) {
      margin-left: 19px;
    }

  }
  .head__logo2 {
    font-family: "BEYNO", sans-serif;
    font-size: 30px;
    color: #009dda;
    margin-top: 21px;

  }
  li {
    list-style-type: none;
    margin-left: 59px;
  }
  .head__list1 {
    display: flex;
    @include respond-to(medium-screens) {
      flex-direction: column;
      margin-top: 40px;

    }

    a {
      text-decoration: none;
      font-family: $family;
      font-size: 16px;
      color: #232323;
      &:hover {
        font-weight: 700;
      }
      &:focus {
        font-weight: 700;
      }
    }

  }
  .head__list2 {
    height: 58px;
    &:hover {
      display: block;
      #head__list2--num1 {
        display: block;
      }
    }
    li {
      margin-top: 20px;
      margin-left: 0px;
    }
    #head__list2--num1 {
      position: absolute;
      width: 185px;
      height: 182px;
      background: rgba(0, 0, 0, 0.65);
      border-top: 2px solid #f5e804;
      margin-top: 33px;
      display: none;
      a {
        font-size: 14px;
        color: #dedde0;
        font-weight: 300;
        &:hover {
          color: #f5e804;
          font-weight: 400;
          .fa-angle-double-right {
            display: inline;
          }
          .fa-angle-right {
            display: none;
          }
        }
      }
      .fa-angle-double-right {
        display: none;
      }
      .head__list3 {
        &:hover {
          #head__list3--num1 {
            display: block;
          }
        }
        #head__list3--num1 {
          width: 183px;
          height: 215px;
          background: rgba(0, 0, 0, 0.65);
          border-top: 2px solid #f5e804;
          position: absolute;
          margin-top: -31px;
          margin-left: 145px;
          display: none;
        }
      }
    }
  }
  .head__search {
    margin-left: 43px;
    margin-top: 26px;
    button {
      border: navajowhite;
      background: transparent;
      text-align: center;
      position: relative;
      top: -27px;
      left: 151px;
      color: #5c5c5c;
      @include respond-to(medium-screens) {
        top: 0;
        left: -33px;
      }
    }

    @include respond-to(medium-screens) {
      margin-left: -552px;
      margin-top: 30px;
    }
    input {
      width: 181px;
      height: 32px;
      border: none;
      background: #e8e4f1;
    }
  }
  .head__burger {
    position: absolute;
    right: 31px;
    margin-top: 25px;
    display: none;
    cursor: pointer;
    @include respond-to(medium-screens) {
      display: block;
      margin-top: 35px;
    }
  }
}

main {

}

.slider1 {
  position: relative;
  top: 77px;
  width: 100%;
  .slider1__slide {
    width: 100%;
    height: 796px;
    background: url("../img/fon1.png") no-repeat;
    background-size: cover;
    .slide__info {
      width: 50%;
      margin: 0 auto;
    }
    .slide__title {
      width: 100%;
      margin: 0 auto;
      position: relative;
      top: 256px;
      line-height: 63px;
      text-align: center;
      font-size: 64px;
      font-family: "Lato", sans-serif;
      font-weight: 700;
      .slide__title1 {
        color: #ffffff;
        display: inline;
      }
      .slide__title2 {
        color: #f5e804;
        margin-left: 16px;
        display: inline;
      }

    }
    .slide__text {
      text-align: center;
      width: 62%;
      margin: 0 auto;
      position: relative;
      top: 291px;
      color: #ffffff;
      font-family: $family;
      font-size: 16px;
      line-height: 26px;
    }

  }
  .slick-next {
    right: 0px;
  }
  .slick-dots {
    top: 725px;
  }

  .slick-dots li {
    margin: 0 -2px;
  }

  .slick-dots li button::before {
    font-size: 30px;
    color: white;
  }

  .slick-dots li.slick-active button:before {
    opacity: .75;
    color: white;
  }

  .slick-prev {
    position: absolute;
    left: 29px;
    width: 60px;
    height: 60px;
    background: rgba(255, 255, 255, 0.2);

    cursor: pointer;
    z-index: 1;
  }
  .slick-prev:before {
    font-family: $slick-font-family;
    content: ' \f104';
    font-size: 30px;
    position: absolute;
    line-height: 0;
    left: 21px;

  }

  .slick-next {
    position: absolute;
    right: 27px;
    width: 60px;
    height: 60px;
    background: rgba(255, 255, 255, 0.2);

    cursor: pointer;
    z-index: 1;
  }
  .slick-next:before {
    content: '\f105';
    font-size: 30px;
    font-family: $slick-font-family;
    position: absolute;
    line-height: 0;
    left: 25px;

  }
}

section {
  position: relative;
  top: 47px;
  width: 100%;
  height: 690px;
}

.block {
  width: 1170px;
  margin: 0 auto;
  text-align: center;
  font-family: $family;
  @include respond-to(medium-screens) {
    width: 71.3%;
  }
}

.block__title {
  position: relative;
  top: 114px;
  p {
    display: inline;
    font-size: 35px;
    font-weight: 700;
  }
  .block__title1 {
    color: black;
  }
  .block__title2 {
    color: #009dda;
    margin-left: 7px;
  }
}

.block__text {
  color: #999999;
  width: 54%;
  margin: 0 auto;
  position: relative;
  top: 120px;

}

.block__row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  top: 162px;
  .block__col {
    width: 202px;
    height: 273px;
    border: 1px solid #ebebeb;
    margin: 15px;
    @include fluency;
    &:hover {
      .block__hover {
        z-index: 3;
      }
    }
    .block__icon {
      font-size: 60px;
      color: #503392;
      position: relative;
      top: 18px;
    }
    .block__more {
      z-index: 2;
      width: 199px;
      top: 26px;
      height: 149px;
      position: relative;
      background: white;
      color: black;
      font-size: 14px;
      h5 {
        font-weight: 600;
        position: relative;
        top: 18px;
      }
      p {
        font-weight: 300;
        width: 149px;
        margin: 0 auto;
        position: relative;
        top: 34px;

      }

    }
    .block__hover {
      width: 199px;
      height: 149px;
      position: absolute;
      margin-top: -123px;
      color: white;
      font-weight: 600;
      font-size: 14px;
      background: #503392;
      z-index: 1;
      p {
        margin-top: 32px;
      }
      img {
        margin-top: 23px;

      }
    }
  }
}

.section__slider {
  background: url(../img/fon3.png) no-repeat;
  background-size: cover;
  height: 889px;
  position: relative;
  top: 254px;
  font-family: $family;
  .section__slider-title {
    width: 100%;
    margin: 0 auto;
    height: 240px;
    text-align: center;
    background: url(../img/fon2.png) no-repeat;
    background-size: cover;
    background-position-x: center;
    font-size: 35px;
    font-weight: 700;
    .slide__title {
      position: relative;
      top: 52px;
    }
    .slide__title1 {
      color: white;

    }
    .slide__title2 {
      margin-left: 7px;
      color: #ffff00;
    }
    p {
      display: inline;
    }
  }
  .section__slide {
    width: 1170px;
    margin: 0 auto;
    @include respond-to(medium-screens) {
      width: 53%;
    }
    .section__col {
      display: flex;
      font-family: "Lato", sans-serif;
      width: 319px;
      margin-top: 102px;
      .section__col-info {
        margin-left: 24px;
        margin-top: 10px;
      }
      h4 {
        font-size: 24px;
        font-weight: 700;
      }
      h5 {
        font-size: 16px;
        color: #6a569f;
      }
      p {
        font-weight: 300;
        color: #acacac;
      }
    }
    .slick-dots {
      top: 575px;
    }

    .slick-dots li {
      margin: 0 -2px;
    }

    .slick-dots li button::before {
      font-size: 30px;
      color: #533794;
    }

    .slick-dots li.slick-active button:before {
      opacity: .75;
      color: #533794;
    }
  }
}

.footer__title {
  position: relative;
  height: 255px;
  top: 312px;
  text-align: center;

  .footer__title1 {
    display: inline;
    font-size: 35px;
    font-weight: 700;
    color: black;
    position: relative;
    top: 44px;
  }
  .footer__title2 {
    display: inline;
    font-size: 35px;
    font-weight: 700;
    color: #009dda;
    position: relative;
    top: 44px;
  }
  .footer__text {
    width: 34%;
    margin: 0 auto;
    color: #bfbfbf;
    position: relative;
    top: 69px;
  }
}

#map {
  position: relative;
  top: 349px;
  height: 635px;
  content: " ";
  z-index: 2;

  @include respond-to(medium-screens) {

  }
}

#form {

  z-index: 3;
  position: absolute;
  margin-top: -285px;
  background: rgba(0, 0, 0, 0.65);
  width: 100%;
  height: 634px;
  @include fluency2;
  &:hover {
    z-index: 1;
    .form-form {
      background: #1a1a1a;
    }

  }
}

.form-form {
  width: 947px;
  height: 434px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  background: rgba(26, 26, 26, 0.53);
  position: relative;
  top: -150px;
  z-index: 4;
  font-size: 16px;
  .form__mess {
    width: 526px;
    top: 80px;
    left: 49px;
    position: relative;
    input {
      width: 234px;
      height: 42px;
      background: transparent;
      margin-left: 18px;
      position: relative;
      border: 1px solid #999898;
      padding: 16px;
      color: #999898;
      @include fluency2;

    }

    .checkbox:not(checked) {
      position: absolute;
      opacity: 0;
    }
    .checkbox:not(checked) + label {
      position: relative;
      padding: 0 0 0 60px;
    }
    .checkbox:not(checked) + label:before {
      content: '';
      position: absolute;

      left: 18px;
      width: 25px;
      height: 25px;
      background: transparent;
      border: 1px solid #999898;
    }

    .checkbox:checked + label:before {
      background: url("../img/check.png") no-repeat;
    }

    label {

      color: #999898;
      position: relative;
      top: 41px;
    }
    .name {

    }
    .mess {
      width: 489px;
      height: 143px;
      position: relative;
      top: 13px;
      padding: 16px;
    }
    .mess::-webkit-input-placeholder {

      font-size: 16px;
      top: -50px;
      position: relative;

    }
    button {
      float: right;
      margin-right: 19px;
      width: 121px;
      height: 51px;
      background: #ffff00;
      border: none;
      text-align: center;
      font-family: $family;
      font-size: 16px;
      color: #373737;
      b {
        top: 4px;
        position: relative;
      }
      @include fluency;
      &:hover {
        background: #373737;
        color: #ffff00;
      }

    }
  }
}

.form__info {
  width: 180px;
  color: #b7b7b7;
  font-size: 16px;
  position: relative;
  top: 78px;
  left: 108px;
}

.footer {
  width: 100%;
  height: 63px;
  position: relative;
  background: #1a1a1a;
  top: -86px;
  .footer__copy {
    font-size: 16px;
    color: #707070;
    top: 20px;
    left: 32px;
    position: absolute
  }
  .footer__social {
    position: absolute;
    right: 12px;
    top: 20px;

    svg {
      display: inline;
      margin-right: 23px;
    }
  }

}